@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito";
}

body {
  background-color: var(--primary-color);
  min-height: 100vh;
}



.logo img {
  width: 100px;
  margin-left: .5rem;
  cursor: pointer;
}

nav {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: var(--primary-color);
  z-index: 100;
  min-height: 10vh;
  box-shadow: 2px 2px 4px lightblue;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 10;
  background-color: var(--primary-color);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(100px);
  gap: 2rem;
}

.sidebar a {
  text-decoration: none;
  color: var(--secondary-color)
}

.mainbar {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.mainbar a {
  text-decoration: none;
  color: var(--secondary-color);
}

.hover a:hover{
  background-color: #c9e6e5;
  /* background-color: rgb(39, 240, 240); */
  color: black;
  padding: .4rem .8rem;
  transition: .3s cubic-bezier(0, 0, 0.61, 0.83);
}

.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: #3be0ef;
  --animation-color: #3be0ef;
  --fs-size: 1.5em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Nunito";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}

/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}

/* The switch - the box around the slider */
.switch {
  display: block;
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  /* size of sliding icon -- sun and moon */
  --size-of-icon: 1.4em;
  /* it is like a inline-padding of switch */
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
  cursor: pointer;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #73C0FC;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: .4s;
}

.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  fill: #73C0FC;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

/* .switch:hover */.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
 
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .switch:hover */.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {
 
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input:checked + .slider {
  background-color: #183153;
}

.input:focus + .slider {
  box-shadow: 0 0 1px #183153;
}

.input:checked + .slider:before {
  transform: translateX(30px);
}

ul {
  list-style: none;
}

#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: .3s;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: var(--secondary-color);
  border-radius: 5px;
  transition-duration: .3s;
}

#checkbox:checked+.toggle .bars {
  margin-left: 13px;
}

#checkbox:checked+.toggle #bar2 {
  transform: rotate(135deg);
  margin-left: 0;
  transform-origin: center;
  transition-duration: .3s;
}

#checkbox:checked+.toggle #bar1 {
  transform: rotate(45deg);
  transition-duration: .3s;
  transform-origin: left center;
}

#checkbox:checked+.toggle #bar3 {
  transform: rotate(-45deg);
  transition-duration: .3s;
  transform-origin: left center;
}

@media (min-width:992px) {
  .collapse {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

@media (max-width:330px) {
  .example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .example-2 .icon-content .tooltip {
    left: 90%;
    transform: translateY(-60%);
  }
}

@media (max-width:600px) {
  .hide {
    display: none;
  }
}

@media (min-width:601px) {
  .stopShowing {
    display: none;
  }
}

.main {
  animation: transitionIn 0.8s;
}

@keyframes transitionIn {
  from{
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to{
    opacity: 1;
    transform: rotateX(0);
  }
}

:root {
  --primary-color:#edf2fc;
  --secondary-color:#282828;
  --bg-1:#f0f4f8;
  --bg-2:#e6edf3;
}

.dark-theme {
  --primary-color:#282828;
  --secondary-color:#fff;
  --bg-1:#2c3e50;
  --bg-2:#34495e;
}

h1 {
  text-align: center;
  margin: 1rem;
}

/* whatsApp chatbox  */

.whatsapp-button {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 10;
  margin: 1rem;
  cursor: pointer;
}

.whatsapp-button img{
  width: 50px;
  height: 50px;
}

.whatsapp-button:hover{
  scale: 1.05;
  transition: 0.8s;
}

.chat-container {
  /* display: none; */
  width: 300px;
  border-radius: 1rem;
  z-index: 10;
  position: fixed;
  right: 0;
  bottom: 10%;
  margin: 1rem;
  overflow: hidden;
}
.chat-header {
  background-color: #075e54;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
}
.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}
.chat-info {
  display: flex;
  flex-direction: column;
}
.chat-name {
  font-weight: bold;
}
.chat-status {
  font-size: 0.8em;
  opacity: 0.8;
}
.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  background-color: #e5ddd5;
}
.message {
  max-width: 70%;
  padding: 8px 12px;
  margin-bottom: 10px;
  border-radius: 10px;
  clear: both;
}
.sent {
  background-color: #dcf8c6;
  float: right;
}
.received {
  background-color: #fff;
  float: left;
}
.chat-input {
  display: flex;
  padding: 10px;
  background-color: #f0f0f0;
  align-items: center;
  box-sizing: border-box;
}

.chat-input input {
  flex-grow: 1;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  margin-right: 10px;
}

.chat-input button {
  background-color: #075e54;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  cursor: pointer;
}


.typewriter {
  /* background-color: #fff; */
  background-image: url('assets/background.jpg');
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem;
}

.typewriter p {
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  letter-spacing: 0.15em;
  display: block;
  margin-bottom: 10px;
  text-align: center;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.typewriter p:nth-child(1) {
  animation: typing 2s steps(55, end) forwards;
}

.typewriter p:nth-child(2) {
  width: 0;
  animation: typing 2s steps(55, end) forwards;
  animation-delay: 2s;
}

.typewriter p:nth-child(3) {
  width: 0;
  animation: typing 2s steps(65, end) forwards;
  animation-delay: 4s;
}

/* .s-1{
  background-image: url(assets/background.jpg);
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
} */

.s-1 h1{
  color: var(--secondary-color);
}

.ss-1-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.intro {
  flex: 1; /* This will make the intro take up available space */
  max-width: 50%; /* Adjust this value to control the width of the intro text */
  font-size: 1.7rem;
  color: var(--secondary-color);
  padding: 0 1rem 1rem;
  line-height: 3rem;
}

.ss-1 p{
  color: var(--secondary-color);
}

.flip-card {
    background-color: transparent;
    width: 400px;
    height: 300px;
    perspective: 1000px;
    font-family: "Nunito", sans-serif;
    position: relative;
    margin: 1rem 1rem 1rem auto;   
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
  }
  
  .flip-card-front {
    background: white;
  }

  .flip-card-front img{
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    border-radius: inherit;
  }
  
  .flip-card-back {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    gap: 0.8rem;
    transform: rotateY(180deg);
}

.Social-Btn {
    width: 4.5em;
    height: 2.5em;
    align-items: baseline;
    justify-content: center;
    border: none;
  
    /* overflow: hidden; */
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s;
    fill: white !important;
    position: relative;
  }
  
  .svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all 0.3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
    color: white;
    background: white
  }
  
  .svgContainer > svg {
    width: 1.5rem;
  }
  
  .BG {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 10px;
    pointer-events: none;
    transition: all 0.3s;
  
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: transparent;
    filter: blur(4px);
    z-index: 4;
  }
  .BG::before {
    position: absolute;
    content: "";
    height: 0.6em;
    width: 0.6em;
    bottom: -0.2em;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    background: white;
    opacity: -1;
    z-index: -10;
    transition: 0.3s all;
  }
  .Social-Btn:hover .BG::before {
    opacity: 1;
  }
  .Social-Btn:hover .BG {
    transform: translateY(-130%);
    transform-origin: bottom;
    background: white;
    color: black;
    filter: blur(0px);
  }
  
  .Social-Btn:hover .svgContainer {
    z-index: 20;
    background-color: rgba(156, 156, 156, 0.466);
    filter: blur(0px);
    fill: black;
  }

.title-flex {
    display: flex;
    gap: 0.8rem;
}

.ourClients-container {
  background-color: var(--bg-1);
  padding: 1rem;
}

.ourClients {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  padding: 2rem;
}

.ourClients-container h1, .ourPartners-container h1{
  text-align: center;
  color: var(--secondary-color);
  animation: h1Ani 3s forwards infinite ease-in;
}

@keyframes h1Ani {
  0%, 100%{
    letter-spacing: 0px;
  }
  50%{
    letter-spacing: 5px;
  }
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}

.image img{
  max-width: 200px;
}

.image img:hover{
  scale: 1.1;
  transition: 0.5s;
}

.ourPartners-container {
  background-color: var(--bg-2);
  padding: 1rem;
}

.ourPartners {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  padding: 2rem;
}

.ourPartners-container h1{
  text-align: center;
  margin: 0;
  padding: 1rem;
}


/* footer styling */

footer{
  position: relative;
  bottom: 0;  
  background-color: var(--primary-color);
  box-shadow: 10px 10px 50px lightblue inset;
  padding: 0 1rem 1rem;
}

.footer {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  min-height: 10vw;
}

.footer a{
  text-decoration: none;
  color: var(--secondary-color);
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.8rem;
}

.footer-logo h2{
  color: #2ebfc1;
  text-align: center;
}

.navigation ul{
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  justify-content: center;
  align-items: center;
}

.contact-div {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 15px;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.location-text{
  text-align: center;
  color: var(--secondary-color);
}

.rights {
  text-align: center;
  color: var(--secondary-color);
}

.example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: 60px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: white;
}

.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
  background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"] ~ .tooltip {
  background-color: #24262a;
}
.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
.example-2 .icon-content a[data-social="WhatsApp"] .filled,
.example-2 .icon-content a[data-social="WhatsApp"] ~ .tooltip {
  background-color: #25d366;
}

.example-2 .icon-content a[data-social="gmail"] .filled,
.example-2 .icon-content a[data-social="gmail"] ~ .tooltip {
  background-color: #0078d4;
}




@media (max-width:860px) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
}

}

@media (max-width:725px) {
  .footer-item{
    padding: 0.8rem;
  }
}

@media (max-width:570px) {
  .footer {
    grid-template-columns: 1fr;
  }

  .footer-item{
    padding: 0.5rem;
  }
}
  
  
  @media (max-width:860px) {
    .ss-1-container{
      flex-direction: column-reverse;
    }
    .intro{
      max-width: none;
      padding: 2rem;
      font-size: 1.4rem;
    }

    .ourClients{
      grid-template-columns: repeat(3,1fr);
    }
    .ourPartners {
      grid-template-columns: repeat(2,1fr);
    }
  }

  @media (max-width:670px) {
    .typewriter p{
      white-space: normal;
    }

    .typewriter p:nth-child(3), .typewriter p:nth-child(2), .typewriter p:nth-child(1) {
      animation: fadeIn 2s ease-in-out both;
      width: auto;
      font-size: 1rem;
      margin: 0;
      line-height: 2rem;
    }

    .ourClients, .ourPartners{
      grid-template-columns: repeat(2,1fr);
    }
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to{
        opacity: 1;
      }
    }

    .flip-card {
      width: 300px;
      height: 200px;
    }

    .intro {
      color: var(--secondary-color);
      font-size: 1.1rem;
    }

    .s-1 h1{
      font-size: 1.5rem;
    }
  }

  @media (max-width:470px) {
    .ourClients, .ourPartners{
      grid-template-columns: 1fr;
    }
  }
  
  
  
  
  
  
  
  
  
